<div class="px-content">
<div class="panel">
      <div class="panel-heading">
        <div class="panel-title">DASHBOARD</div>
      </div>
      <div class="panel-body">
        <div class="form-horizontal">
           <font color="grey"><h1>WELCOME TO SJ ORGANIZATION</h1></font>
        </div>
      </div>
</div>
</div>
