
<div class="px-content">
    <div class="page-header">
      <h1><span class="text-muted font-weight-light"><i class="page-header-icon ion-android-checkbox-outline"></i>Forms / </span>Layout</h1>
    </div>


<div class="panel">
      <div class="panel-heading">
        <div class="panel-title">Horizontal</div>
      </div>
      <div class="panel-body">
        <form class="form-horizontal">


          <div class="form-group">
            <label for="grid-input-1" class="col-md-3 control-label">First Name</label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="grid-input-1" placeholder="First Name">
              
            </div>
          </div>

          <div class="form-group">
            <label for="grid-input-1" class="col-md-3 control-label">Middle Name</label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="grid-input-1" placeholder="Middle Name">
              
            </div>
          </div>

          <div class="form-group">
            <label for="grid-input-1" class="col-md-3 control-label">Last Name</label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="grid-input-1" placeholder="Last Name">
              
            </div>
          </div>


          <div class="form-group">
            <label for="grid-input-1" class="col-md-3 control-label">Current Location</label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="grid-input-1" placeholder="Current Location">
              
            </div>
          </div>



          <div class="form-group">
            <label for="grid-input-1" class="col-md-3 control-label">mobile no</label>
            <div class="col-md-9">
              <input type="number" class="form-control" id="grid-input-1" placeholder="mobile">
              
            </div>
          </div>




          <div class="form-group">
            <label for="grid-input-1" class="col-md-3 control-label">Experience</label>
            <div class="col-md-9">
              <input type="number" class="form-control" id="grid-input-1" placeholder="Total experience">
              
            </div>
          </div>




          <div class="form-group">
            <label for="grid-input-1" class="col-md-3 control-label">Nationality</label>
            <div class="col-md-9">
              <input type="text" class="form-control" id="grid-input-1" placeholder="Industry">
              
            </div>
          </div>










          <div class="form-group">
            <label for="grid-input-1" class="col-md-3 control-label">E-mail</label>
            <div class="col-md-9">
              <input type="email" class="form-control" id="grid-input-1" placeholder="E-mail">
              
            </div>
          </div>




          <div class="form-group">
            <label for="grid-input-1" class="col-md-3 control-label">Password</label>
            <div class="col-md-9">
              <input type="password" class="form-control" id="grid-input-1" placeholder="Password">
              
            </div>
          </div>


          <div class="form-group">
            <label for="grid-input-1" class="col-md-3 control-label">Password</label>
            <div class="col-md-9">
              <input type="password" class="form-control" id="grid-input-1" placeholder="Confirm Password">
              
            </div>
          </div>




          <div class="form-group">
            <label for="grid-input-1" class="col-md-3 control-label">Industry</label>
            <div class="col-md-9">

            <div class="m-b-2">
              <select class="form-control select2-primary select2-example" multiple style="width: 100%">
 
<option value='65' >field1</option><option value='4' >field1</option><option value='5' >field3</option>
             
              </select>
            </div>
            </div>
          </div>




         <div class="form-group">
            <label for="grid-input-1" class="col-md-3 control-label">Function</label>
            <div class="col-md-9">

            <div class="m-b-2">
              <select class="form-control select2-primary select2-example" multiple style="width: 100%">
                  <option value='65' >field1</option><option value='4' >field1</option><option value='5' >field3</option>
              </select>
             
              </select>
            </div>
            </div>
          </div>


          <div class="form-group">
            <label for="grid-input-5" class="col-md-3 control-label">Gender</label>
            <div class="col-md-9">
              <select class="custom-select form-control" id="grid-input-5">
                <option>Not selected</option>
                <option>Male</option>
                <option>Female</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="grid-input-3" class="col-md-3 control-label">Photo</label>
            <div class="col-md-9">
              <input type="file" class="form-control-file" id="grid-input-3">
            </div>
          </div>
          <div class="form-group">
            <label for="grid-input-6" class="col-md-3 control-label">certificate</label>
            <div class="col-md-9">
              <label id="grid-input-6-file" class="custom-file px-file" for="grid-input-6">
                <input type="file" id="grid-input-6" class="custom-file-input">
                <span class="custom-file-control form-control">Choose file...</span>
                <div class="px-file-buttons">
                  <button type="button" class="btn btn-xs px-file-clear">Clear</button>
                  <button type="button" class="btn btn-primary btn-xs px-file-browse">Browse</button>
                </div>
              </label>
            </div>
          </div>
                    <div class="form-group">
            <label for="grid-input-3" class="col-md-3 control-label">11th certificate</label>
            <div class="col-md-9">
              <input type="file" class="form-control-file" id="grid-input-3">
            </div>
          </div>
                    <div class="form-group">
            <label for="grid-input-3" class="col-md-3 control-label">12th Certificate</label>
            <div class="col-md-9">
              <input type="file" class="form-control-file" id="grid-input-3">
            </div>
          </div>
                    <div class="form-group">
            <label for="grid-input-3" class="col-md-3 control-label">Graduation Certificate</label>
            <div class="col-md-9">
              <input type="file" class="form-control-file" id="grid-input-3">
            </div>
          </div>
         
         
          
          <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
              <button type="submit" class="btn">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>






 <script>
    // -------------------------------------------------------------------------
    // Initialize DEMO sidebar

    $(function() {
      pxDemo.initializeDemoSidebar();

      $('#px-demo-sidebar').pxSidebar();
      pxDemo.initializeDemo();
    });
  </script>

  <script type="text/javascript">
    // -------------------------------------------------------------------------
    // Initialize DEMO

    $(function() {
      var file = String(document.location).split('/').pop();

      // Remove unnecessary file parts
      file = file.replace(/(\.html).*/i, '$1');

      if (!/.html$/i.test(file)) {
        file = 'index.html';
      }

      // Activate current nav item
      $('body > .px-nav')
        .find('.px-nav-item > a[href="' + file + '"]')
        .parent()
        .addClass('active');

      $('body > .px-nav').pxNav();
      $('body > .px-footer').pxFooter();

      $('#navbar-notifications').perfectScrollbar();
      $('#navbar-messages').perfectScrollbar();
    });
  </script>

  <!--[if lte IE 9]><script>window.skipQuickSelect = true;</script><![endif]-->

  <script>
    // -------------------------------------------------------------------------
    // Initialize Select2

    $(function() {
      $('.select2-example').select2({
        placeholder: 'Select value',
      });
    });

    // -------------------------------------------------------------------------
    // Initialize Bootstrap TouchSpin

    $(function() {
      $('input[name="touchspin-1"]').TouchSpin();
      $('input[name="touchspin-2"]').TouchSpin({
        min:            0,
        max:            100,
        step:           0.1,
        decimals:       2,
        boostat:        5,
        maxboostedstep: 10,
        postfix:        '%'
      });
      $('input[name="touchspin-3"]').TouchSpin({
        verticalbuttons: true
      });
      $('input[name="touchspin-4"]').TouchSpin({
        verticalbuttons: true,
        prefix: '$'
      });
      $('input[name="touchspin-5"], input[name="touchspin-7"]').TouchSpin();
      $('input[name="touchspin-6"], input[name="touchspin-8"]').TouchSpin({
        verticalbuttons: true
      });
    });

    // -------------------------------------------------------------------------
    // Initialize Expanding input

    $(function() {
      $('.expanding-input').pxExpandingInput();
    });

    // -------------------------------------------------------------------------
    // Initialize Knob

    $(function() {
      $(".knob-input-example").knob();
    });

    // -------------------------------------------------------------------------
    // Initialize Bootstrap Tags Input

    $(function() {
      (function() {
        var $el = $('#bs-tagsinput-1');

        $el.tagsinput({
          tagClass: function(item) {
            switch (item.continent) {
              case 'Europe'   : return 'label label-primary';
              case 'America'  : return 'label label-danger label-important';
              case 'Australia': return 'label label-success';
              case 'Africa'   : return 'label label-default';
              case 'Asia'     : return 'label label-warning';
            }
          },

          itemValue: 'value',
          itemText:  'text',
        });

        $el.tagsinput('add', { value: 1,  text: 'Amsterdam',  continent: 'Europe' });
        $el.tagsinput('add', { value: 4,  text: 'Washington', continent: 'America' });
        $el.tagsinput('add', { value: 7,  text: 'Sydney',     continent: 'Australia' });
        $el.tagsinput('add', { value: 10, text: 'Beijing',    continent: 'Asia' });
        $el.tagsinput('add', { value: 13, text: 'Cairo',      continent: 'Africa' });
      })();

      $('#bs-tagsinput-2').tagsinput({ tagClass: 'label label-primary' });
      $('#bs-tagsinput-3').tagsinput({ tagClass: 'label label-success' });
      $('#bs-tagsinput-4').tagsinput({ tagClass: 'label label-warning' });
      $('#bs-tagsinput-5').tagsinput({ tagClass: 'label label-danger' });
      $('#bs-tagsinput-6').tagsinput({ tagClass: 'label label-default' });
    });

    // -------------------------------------------------------------------------
    // Initialize Bootstrap 3 Typeahead

    $(function() {
      $('#typeahead-input').typeahead({source: [
        'Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda',
        'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
        'Bahamas, The', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
        'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
        'Brazil', 'Brunei ', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi', 'Cambodia',
        'Cameroon', 'Canada', 'Cabo Verde', 'Central African Republic', 'Chad', 'Chile',
        'China', 'Colombia', 'Comoros', 'Congo, Democratic Republic of the',
        'Congo, Republic of the', 'Costa Rica', 'Cote d\'Ivoire', 'Croatia', 'Cuba',
        'Curacao', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica',
        'Dominican Republic', 'Timor-Leste', 'Ecuador', 'Egypt', 'El Salvador',
        'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland',
        'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece',
        'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See',
        'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
        'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
        'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kosovo', 'Kuwait',
        'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
        'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macau', 'Macedonia', 'Madagascar',
        'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
        'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco',
        'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Namibia', 'Nauru', 'Nepal',
        'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Korea',
        'Norway', 'Oman', 'Pakistan', 'Palau', 'Palestinian Territories', 'Panama',
        'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal',
        'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
        'Saint Vincent and the Grenadines', 'Samoa ', 'San Marino', 'Sao Tome and Principe',
        'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
        'Sint Maarten', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
        'South Korea', 'South Sudan', 'Spain ', 'Sri Lanka', 'Sudan', 'Suriname',
        'Swaziland ', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
        'Thailand ', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
        'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
        'United Kingdom', 'United States of America', 'Uruguay', 'Uzbekistan',
        'Vanuatu', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe '
      ]});
    });

    // -------------------------------------------------------------------------
    // Initialize Autosize

    $(function() {
      $('#autosize').autosize();
    });

    // -------------------------------------------------------------------------
    // Initialize Masked input

    $(function() {
      $('#masked-input-date').mask('99/99/9999');
      $('#masked-input-phone').mask('(999) 999-9999');
      $('#masked-input-ssn').mask('999-99-9999');
      $('#masked-input-product-key').mask('a*-999-a999', {
        completed: function(){
          alert('You typed the following: ' + this.val());
        }
      });
    });

    // -------------------------------------------------------------------------
    // Initialize Char limit

    $(function() {
      $('.char-limit-example').pxCharLimit();
      $('#char-limit-with-counter-1').pxCharLimit();
      $('#char-limit-with-counter-2').pxCharLimit();
    });

    // -------------------------------------------------------------------------
    // Initialize Quick[select]

    $(function() {
      if (window.skipQuickSelect) {
        $('<div class="alert alert-warning">Quick[select] doesn\'t support Internet Explorer 9</div>').insertBefore('#quick-select-1');
        return;
      }

      $('#quick-select-1').quickselect({
        activeButtonClass: 'btn-primary active',
        breakOutValues: ['Breakfast', 'Lunch', 'Dinner'],
        buttonClass: 'btn btn-default',
        selectDefaultText: 'Other',
        wrapperClass: 'btn-group'
      });

      $('#quick-select-2').quickselect({
        activeButtonClass: 'btn-primary active',
        breakOutAll: true,
        buttonClass: 'btn btn-default',
        selectDefaultText: 'Other',
        wrapperClass: 'btn-group'
      });

      $('#quick-select-3').quickselect({
        activeButtonClass: 'btn-primary active',
        breakOutValues: ['Breakfast', 'Lunch', 'Dinner'],
        buttonClass: 'btn btn-default',
        selectDefaultText: 'Other',
        wrapperClass: 'btn-group'
      });
    });

    // -------------------------------------------------------------------------
    // Initialize Dropzone

    $(function() {
      $('#dropzonejs').dropzone({
        parallelUploads: 2,
        maxFilesize:     50,
        filesizeBase:    1000,

        resize: function(file) {
          return {
            srcX:      0,
            srcY:      0,
            srcWidth:  file.width,
            srcHeight: file.height,
            trgWidth:  file.width,
            trgHeight: file.height,
          };
        },
      });

      // Mock the file upload progress (only for the demo)
      //
      Dropzone.prototype.uploadFiles = function(files) {
        var minSteps         = 6;
        var maxSteps         = 60;
        var timeBetweenSteps = 100;
        var bytesPerStep     = 100000;
        var isUploadSuccess  = Math.round(Math.random());

        var self = this;

        for (var i = 0; i < files.length; i++) {

          var file = files[i];
          var totalSteps = Math.round(Math.min(maxSteps, Math.max(minSteps, file.size / bytesPerStep)));

          for (var step = 0; step < totalSteps; step++) {
            var duration = timeBetweenSteps * (step + 1);

            setTimeout(function(file, totalSteps, step) {
              return function() {
                file.upload = {
                  progress: 100 * (step + 1) / totalSteps,
                  total: file.size,
                  bytesSent: (step + 1) * file.size / totalSteps
                };

                self.emit('uploadprogress', file, file.upload.progress, file.upload.bytesSent);
                if (file.upload.progress == 100) {

                  if (isUploadSuccess) {
                    file.status =  Dropzone.SUCCESS;
                    self.emit('success', file, 'success', null);
                  } else {
                    file.status =  Dropzone.ERROR;
                    self.emit('error', file, 'Some upload error', null);
                  }

                  self.emit('complete', file);
                  self.processQueue();
                }
              };
            }(file, totalSteps, step), duration);
          }
        }
      };
    });
  </script>