<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

  <title>Main page - HTML Starter Project</title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">
  <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <!-- Core stylesheets -->
  <link href="/assets/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/assets/pixeladmin.min.css" rel="stylesheet" type="text/css">
  <link href="/assets/widgets.min.css" rel="stylesheet" type="text/css">

  <!-- Theme -->
  <link href="/assets/clean.min.css" rel="stylesheet" type="text/css">

  <!-- Pace.js -->
  <script src="/assets/pace.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.0/holder.js"></script>
</head>
<body>


    <script language="Javascript" type="text/javascript">
         
        function datatables() {
            window.location.replace("datatables");
        }

        function forms() {
            window.location.replace("forms");
        }
    </script>
  <!-- Nav -->
  <nav class="px-nav px-nav-left">
    <button type="button" class="px-nav-toggle" data-toggle="px-nav">
      <span class="px-nav-toggle-arrow"></span>
      <span class="navbar-toggle-icon"></span>
      <span class="px-nav-toggle-label font-size-11">HIDE MENU</span>
    </button>

    <ul class="px-nav-content">


         <li class="px-nav-box p-a-3 b-b-1" id="demo-px-nav-box">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%if current_user.role == 'SuperAdmin'%>
        <img src="/assets/img1.jpg" alt="" class="pull-xs-left m-r-2 border-round" style="width: 54px; height: 54px;">
        <%elsif  current_user.role == 'Employee'
          %>
         <%= image_tag(current_user.employee.photo, {:style => "width:54px;height:54px;"}) %>
        <%end%>

        <div class="font-size-16"><span class="font-weight-light">Welcome, </span><strong><%=current_user.role%></strong></div>
        <div class="btn-group" style="margin-top: 4px;">
          <!-- <a href="#" class="btn btn-xs btn-primary btn-outline"><i class="fa fa-envelope"></i></a>
          <a href="#" class="btn btn-xs btn-primary btn-outline"><i class="fa fa-user"></i></a>
          <a href="#" class="btn btn-xs btn-primary btn-outline"><i class="fa fa-cog"></i></a>
          <a href="#" class="btn btn-xs btn-danger btn-outline"><i class="fa fa-power-off"></i></a> -->
        </div>
      </li>
     <%if current_user.role == 'SuperAdmin'%>
      <li class="px-nav-item">
        <a href="/employees"><i class="px-nav-icon ion-star"></i><span class="px-nav-label">Employees</span></a>
      </li>
      <li class="px-nav-item">
        <a href="/customers"><i class="px-nav-icon ion-star"></i><span class="px-nav-label">Members</span></a>
      </li>
      <li class="px-nav-item">
        <a href="/users"><i class="px-nav-icon ion-star"></i><span class="px-nav-label">Users</span></a>
      </li>
      <%elsif current_user.role == 'Employee' %>
     <li class="px-nav-item">
       <%= link_to "Edit profile", edit_employee_path(current_user.id) %><i class="px-nav-icon ion-star"></i><span class="px-nav-label">Edit Profile</span></a>
     </li>

<li class="px-nav-item">
        <a href="/customers"><i class="px-nav-icon ion-star"></i><span class="px-nav-label">Customers</span></a>
      </li>   
    </ul>
    <%end%>
  </nav>

  <!-- Navbar -->
  <nav class="navbar px-navbar">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SJ-ORG</a>
    </div>

    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#px-navbar-collapse" aria-expanded="false"><i class="navbar-toggle-icon"></i></button>

    <div class="collapse navbar-collapse" id="px-navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#"></a></a>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <%=current_user.role%>
          </a>
          <ul class="dropdown-menu">
             <!-- <li><a href="pages-profile-v2.html"><span class="label label-warning pull-xs-right"><i class="fa fa-asterisk"></i></span>Profile</a></li>
            <li><a href="pages-account.html">Account</a></li>
            <li><a href="pages-messages-list.html"><i class="dropdown-icon fa fa-envelope"></i>&nbsp;&nbsp;Messages</a></li> -->
            <li class="divider"></li>
            <li><a href="/users/sign_out"><i class="dropdown-icon fa fa-power-off"></i>&nbsp;&nbsp;Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Content -->


  <!-- Footer -->
  <footer class="px-footer px-footer-bottom">
    Copyright © 2017 Your Company. All rights reserved.
  </footer>

  <!-- ==============================================================================
  |
  |  SCRIPTS
  |
  =============================================================================== -->

  <!-- Load jQuery -->


  <!-- Core scripts -->
  <script src="/assets/bootstrap.min.js"></script>
  <script src="/assets/pixeladmin.min.js"></script>

  <!-- Your scripts -->
  <script src="/assets/app.js"></script>
</body>
</html>
