<%= render '/layouts/header'%>


    <script language="Javascript" type="text/javascript">
         
        function datatables() {
            window.location.replace("datatables");
        }

        function forms() {
            window.location.replace("forms");
        }
    </script>

  <!-- Navbar -->
 
     <%= render '/layouts/nav'%>

  <!-- Content -->

<%= render '/layouts/footer'%>

<<<<<<< HEAD
  <!-- ==============================================================================
  |
  |  SCRIPTS
  |
  =============================================================================== -->

  <!-- Load jQuery -->

=======
</body>
>>>>>>> 39ae96e1dac75490f7d86aa840daeeb0797491e3
