<%= render '/layouts/header'%>
<body>


    <script language="Javascript" type="text/javascript">
         
        function datatables() {
            window.location.replace("datatables");
        }

        function forms() {
            window.location.replace("forms");
        }
    </script>

  <!-- Navbar -->
 
     <%= render '/layouts/nav'%>

  <!-- Content -->

<%= render '/layouts/footer'%>

</body>